/* general rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* main */
main {
    background-color: black;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#container {
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 60%;
    /* debug
    background-color: rgb(223, 27, 27);*/

}

.img {
    position: relative;
    /* max-height: 19%; */
    max-width: 19%;
}

.img_text {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 15px;
    background-color: grey;
}

.img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* footer */
footer {
    background-color: rgb(92, 90, 90);
    height: 60px;
}